.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  text-align: center;
}
.btn button{
  background-color: rgb(13, 13, 156);
  color: white;
  
}
.btn button:hover{
  background-color:  rgb(9, 2, 81);
  color: white;
}



.btn{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
 
}



#mybox{
  width: 90vh;
  
}
alert{
  background-color: #61dafb;
}
  

